<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ynu.elm.mapper.IBusinessMapper">
    <select id="listByOrderTypeId" resultType="ynu.elm.entity.Business" parameterType="Integer">
        select *
        from business
        where orderTypeId = #{orderTypeId}
    </select>
</mapper>